[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"psycopg2" = "*"
djangorestframework = "*"
django-filter = "*"
djangorestframework-jwt = "*"
django-rest-swagger = "*"
django-redis = "*"
qiniu = "*"

[dev-packages]

[requires]
python_version = "3.6"
